.search {
    width: 71%;
    margin: 4rem 0 2rem;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    background: #ffffff;
    
    
  }
  
  .search input {
    flex: 1;
    border: none;
    font-size: 1.5rem;
    font-family: var(--font-raleway);
    font-weight: 500;
    padding: 0.5rem 1rem;
  
    outline: none;
    color: #a1a1a1;
    background: transparent;
  }
  
  @media screen and (max-width: 600px) {
  
    .search {
      padding: 1rem 1.75rem;
      width: 100%;
    }
  
    .search input {
      font-size: 1rem;
    }
  
    .search img {
      width: 20px;
      height: 20px;
    }
  }
  
  @media screen and (max-width: 600px) {
    .app {
      padding: 4rem 2rem;
    }
  
    .search {
      padding: 1rem 1.75rem;
      width: 100%;
    }
  
    .search input {
      font-size: 1rem;
    }
  
    .search img {
      width: 20px;
      height: 20px;
    }
  }

  .dropdown-select {
    border: none;
    background: transparent;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #333;
    cursor: pointer;
  }
  
  .dropdown-select:focus {
    outline: none;
  }
  
  .dropdown-select option {
    font-weight: 400;
  }
  